@tailwind base;
@tailwind components;
@tailwind utilities;


/* App.css */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

body {
  font-family: 'Inter', sans-serif;
  background-color: #f7fafc;
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.login-card {
  width: 24rem;
  padding: 1.5rem;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  border-radius: 0.5rem;
  background-color: #ffffff;
  
}

.login-card h3 {
  font-size: 1.5rem;
  font-weight: 600;
  color: #1a202c;
  margin-bottom: 1rem;
}

.login-card label {
  font-size: 0.875rem;
  font-weight: 500;
  color: #4a5568;
}

.login-card input {
  width: 100%;
  margin-top:10px;
   margin-right:50px;
  padding: 0.5rem 0.75rem ;
  color: #4a5568;
  background-color: #edf2f7;
  border: 1px solid #e2e8f0;
  border-radius: 0.375rem;
  transition: border-color 0.3s;
}

.login-card input:focus {
  outline: none;
  border-color: #5a67d8;
}

.login-card .error-message {
  color: #e53e3e;
  font-weight: 700;
}

.login-card button {
  width: 100%;
  padding: 0.5rem 0;
  color: #ffffff;
  font-weight: 500;
  border-radius: 0.375rem;
  transition: background-color 0.3s;
}

.login-card button:disabled {
  background-color: #cbd5e0;
  cursor: not-allowed;
}

.login-card button:not(:disabled) {
  background-color: #5a67d8;
}

.login-card button:not(:disabled):hover {
  background-color: #4c51bf;
}

.login-card .link {
  color: #5a67d8;
  font-weight: 600;
  transition: color 0.3s;
}

.login-card .link:hover {
  text-decoration: underline;
}

.login-card .separator {
  display: flex;
  align-items: center;
  margin: 1rem 0;
}

.login-card .separator::before,
.login-card .separator::after {
  content: '';
  flex-grow: 1;
  height: 1px;
  background-color: #e2e8f0;
}

.login-card .separator span {
  margin: 0 1rem;
  font-size: 0.875rem;
  color: #4a5568;
}

.google-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 0.625rem 0;
  border: 1px solid #e2e8f0;
  border-radius: 0.375rem;
  font-size: 0.875rem;
  font-weight: 500;
  transition: background-color 0.3s;
}

.google-button:disabled {
  background-color: #edf2f7;
  cursor: not-allowed;
}

.google-button:not(:disabled):hover {
  background-color: #edf2f7;
}

.google-button svg {
  width: 1.25rem;
  height: 1.25rem;
  margin-right: 0.75rem;
}
